html, body{
	background-color: black;
}

.hidetext{
	text-align: left;
	text-indent: -9999px;
}

#site-wrapper{
	position: relative;
  z-index: 2;
}

#leftcol{
	background-color: #FF006B;
	min-height: 100vh;
}

#rightcol{
	position: relative;
	background-color: white;
	height: 100vh;
}

#rightcol .watch{
	width: 242px;
	height: 436px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	background-image: url('../img/apple-watch.png');
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
}

.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
}

#leftcol section{
	height: 100vh;
	position: relative;
}

#logo{
	max-width: 600px;
	margin: 0 auto;
	height: 45vh;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	background-image: url('../img/warpjammerlogo.png');
}

.maincopy{
	height: 32vh;
	margin: 0 auto;
	max-width: 372px;
	text-align: center;
}

p{
	color: #fff;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: center;
}

a{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}

section.first{
	padding: 3vh 10vh 6vh;
}

.actionitems{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 8vh;
}

.actionitems li{
	display: inline-block;
	list-style: none;
	width: 32%;
	text-align: center;
}

.actionitems li a{
	display: block;
	max-width: 150px;
	padding: 16px 0;
	background-color: rgba(0,0,0,0.2);
	margin: 0 auto;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 900;
	font-size: 18px;
  -webkit-transition: background-color 0.3s ease-out;
          transition: background-color 0.3s ease-out;
}

.actionitems li a:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,0.4);
}

p.cta{
	height: 6vh;
	margin: 0; padding: 0;
}

p.cta a{
	height: 100%;
	display: block;
	background-image: url('../img/appstore.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#starfield{
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Watch UI */
#rightcol .watch{
	padding: 120px 0 0 35px;
}
.watch .screen{
	display: block;
	width: 156px;
	height: 195px;
	background-color: #000;
}

.watch .screen{
		display: none;
}

/* Media  Queries */
@media (min-width: 745px){
	#leftcol{
		float: left;
		width: 50%;
	}

	#rightcol{
		width: 50%;
		background-color: white;
		position: fixed;
		right: 0;
	}
	.watch .screen{
		display: block;
	}
}

