html, body{
	background-color: black;
}

small{
	font-size: 14px;
}

.hidetext{
	text-align: left;
	text-indent: -9999px;
}

#site-wrapper{
	position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper404{
	min-height: 41vh;
}

#site-wrapper .wrapper404 p{
	color: #eb0a85;
	margin: 0 40px;
}

#title404{
	width: 300px;
	max-width: 80%;
	height: 50px;
	margin: 20vh auto 5vh;
	background-image: url("../img/404.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#message{
	width: 300px;
	max-width: 80%;
	height: 50px;
	margin: 20vh auto 5vh;
	background-image: url("../img/message.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}


a.twitter{
	display: block;
	margin: 4px auto;
	width: 35px;
	height: 35px;
	background-image: url("../img/twitter@2x.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.fb-like.fb_iframe_widget{
	position: relative;
	top: -5px;
}

h2{
	width: 100%;
	text-align: center;
	left: 0;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

#logo{
	max-width: 80%;
	margin: 0 auto;
	height: 45vh;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	background-image: url('../img/warpjammerlogo.png');
}

#site-wrapper p, #site-wrapper li{
	color: #fff;
	font-size: 14px;
	line-height: 19px;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-align: center;
}


a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.actionitems{
	overflow: hidden;
	width: 100%;
	margin: 6% auto 5%;
	padding: 0;
	max-width: 1000px;
}

.actionitems li{
	display: inline-block;
	list-style: none;
	width: 32%;
	text-align: center;
}

.actionitems li a{
	display: block;
	max-width: 150px;
	padding: 16px 0;
	border: 1px solid #fff;
	margin: 0 auto;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;
  -webkit-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;
}

.actionitems li a:hover{
	opacity: 0.8;
	text-decoration: none;
}

p.cta{
	margin: 0; padding: 0;
	width: 100%;
}

p.cta a{
	height: 40px;
	display: block;
	background-image: url('../img/appstore.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#starfield{
	z-index: 1;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

img.center{
	display: block;
	margin: 0 auto;
}

/*#FF4EA4*/

.final{
	overflow: hidden;
	min-height: 230px;
	clear: both;
	position: relative;
	z-index: 4;
}

.copyright{
	z-index: 3;
}

ul.team{
	padding: 0;
	margin: 0;
}

.final .content{
	position: relative;
	z-index: 3;
}

ul.team{
	text-align: center;
}

ul.team li{
	display: inline-block;
	list-style: none;
	padding-bottom: 6px;
	margin: 0 6px;
}

ul.team li a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url("../img/team/josh@2x.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

ul.team li a.avery 	{ background-image: url("../img/team/avery@2x.png"); }
ul.team li a.brian 	{ background-image: url("../img/team/brian@2x.png"); }
ul.team li a.devin 	{ background-image: url("../img/team/devin@2x.png"); }
ul.team li a.kai 		{ background-image: url("../img/team/kai@2x.png"); }



@media (min-width: 540px){
	ul.team li a{
		width: 50px;
		height: 50px;
	}
	#site-wrapper p, #site-wrapper li{
		font-size: 18px;
		line-height: 24px;
	}
	h2{
		font-size: 22px;
	}
}


/* Media  Queries */
@media (min-width: 1200px){
	/* Large Screens, larger text */
	#site-wrapper p, #site-wrapper li{
		font-size: 22px;
		line-height: 30px;
	}
}


@media (min-width: 930px){
	/*  */
}

@media ( max-height: 690px ){
	/*  */
}

@media ( min-height: 1100px ){
	/* Large Screens */

}