html, body{
	background-color: black;
}

section, .middle{
	padding: 3vh 3vh 6vh;
}

section{
	min-height: 450px;
}

small{
	font-size: 14px;
}

.hidetext{
	text-align: left;
	text-indent: -9999px;
}

#site-wrapper{
	position: relative;
  z-index: 2;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper404{
	min-height: 41vh;
}

#site-wrapper .wrapper404 p{
	color: #eb0a85;
	margin: 0 40px;
}

#title404{
	width: 300px;
	max-width: 80%;
	height: 50px;
	margin: 20vh auto 5vh;
	background-image: url("../img/404.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#message{
	width: 300px;
	max-width: 80%;
	height: 50px;
	margin: 20vh auto 5vh;
	background-image: url("../img/message.svg");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

#leftcol{
	background-color: #FF006B;
	min-height: 100vh;
	position: relative;
	z-index: 3;
}

section.final .top{
	width: 100%;
	height: 1px;
}

section.final .social{
	text-align: center;
}

section.final a.twitter{
	display: block;
	margin: 4px auto;
	width: 35px;
	height: 35px;
	background-image: url("../img/twitter@2x.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.fb-like.fb_iframe_widget{
	position: relative;
	top: -5px;
}

#site-wrapper p.sequences{
	display: none;
	color: #333;
	text-align: center;
	font-size: 14px;
	width: 100%;
	margin-bottom: 0px;
	position: absolute;
	bottom: -58px;
	left: 0;
}

#site-wrapper p.appicon{
    padding: 0 0 0 20px;
    background-image: url("../img/watchicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    color: #333;
    text-align: center;
    margin: 30px auto;
    font-size: 14px;
    width: 133px;
    left: 53px;
}

#rightcol{
	position: relative;
	background-color: white;
	height: 100vh;
	min-height: 450px;
	z-index: 3;
	padding-top: 3vh;
}

#rightcol .watch{
	width: 242px;
	height: 380px;
	max-height: 55vh;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-ms-background-size: contain;
	background-image: url('../img/apple-watch.png');
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
}

#rightcol h2{
	width: 100%;
	text-align: center;
	left: 0;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}

.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
}

#leftcol section{
	height: 100vh;
	position: relative;
}

#logo{
	max-width: 80%;
	margin: 0 auto;
	height: 45vh;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	background-image: url('../img/warpjammerlogo.png');
}

.maincopy{
	height: 32vh;
	margin: 0 auto;
	max-width: 492px;
	text-align: center;
}

#site-wrapper p, #site-wrapper li{
	color: #fff;
	font-size: 14px;
	line-height: 19px;

	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	text-align: center;
}

/*.modal-body p{
	font-size: 
}*/

section.fourth p{
	color: #333;
}

section ul.list li{
  list-style-position: inside;
  padding-bottom: 20px;
}


section ul.list{
	max-width: 80%;
	margin: 0 auto;
}

a{
	font-family: 'Exo 2', sans-serif;
	font-weight: 700;
}




.actionitems{
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 8vh;
	min-height: 60px;
}

.actionitems li{
	display: inline-block;
	list-style: none;
	width: 32%;
	text-align: center;
}

.actionitems li a{
	display: block;
	max-width: 150px;
	padding: 16px 0;
	background-color: rgba(0,0,0,0.2);
	margin: 0 auto;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	font-weight: 900;
	font-size: 18px;
  -webkit-transition: background-color 0.3s ease-out;
          transition: background-color 0.3s ease-out;
}

.actionitems li a:hover{
	text-decoration: none;
	background-color: rgba(0,0,0,0.4);
}

p.cta{
	margin: 0; padding: 0;
	width: 100%;
}

p.cta a{
	height: 40px;
	display: block;
	background-image: url('../img/appstore.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

#starfield{
	z-index: 1;
	position: absolute;
	height: 50vh;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Watch UI */
#rightcol .watch{
	padding: 106px 0 0 42px;
}
.watch .screen{
	display: none;
	width: 147px;
  height: 170px;
}

.fadeOut{
	opacity: 1;
	-webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
}

.myhide.fadeOut{
	opacity: 0;
}

img.center{
	display: block;
	margin: 0 auto;
}

section img.heading{
	margin-bottom: 40px;
	width: 370px;
	max-width: 90%;
}


section.second img.heading{
	width: 460px;
	max-width: 90%;
}


/*#FF4EA4*/

.final{
	overflow: hidden;
	height: 50vh;
	min-height: 230px;
	clear: both;
	position: relative;
	z-index: 4;
}

.copyright{
	z-index: 3;
}

ul.team{
	padding: 0;
	margin: 0;
}

.final .content{
	position: relative;
	z-index: 3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
}

ul.team{
	text-align: center;
}

ul.team li{
	display: inline-block;
	list-style: none;
	padding-bottom: 6px;
}

ul.team li a{
	display: block;
	width: 25px;
	height: 25px;
	background-image: url("../img/team/josh@2x.png");
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

ul.team li a.avery 	{ background-image: url("../img/team/avery@2x.png"); }
ul.team li a.brian 	{ background-image: url("../img/team/brian@2x.png"); }
ul.team li a.devin 	{ background-image: url("../img/team/devin@2x.png"); }
ul.team li a.kai 		{ background-image: url("../img/team/kai@2x.png"); }


#rightcol .bottomalign{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 40px;
}

@media (min-width: 540px){
	ul.team li a{
		width: 50px;
		height: 50px;
	}
	#site-wrapper p, #site-wrapper li{
		font-size: 18px;
		line-height: 24px;
	}
	#rightcol h2{
		font-size: 22px;
	}
}


/* Media  Queries */
@media (min-width: 1200px){
	#site-wrapper p, #site-wrapper li{
		font-size: 22px;
		line-height: 30px;
	}
}


@media (min-width: 930px){
	section, .middle{
		padding: 3vh 3vh 6vh;
	}

	#leftcol{
		float: left;
		width: 50%;
	}

	#rightcol{
		width: 50%;
		background-color: white;
		position: fixed;
		right: 0;
	}
	.watch .screen{
		display: block;
	}

	#rightcol h2{
		font-size: 24px;
	}

	#site-wrapper p.sequences{
		display: block;
	}
}

@media ( max-height: 690px ){
	#site-wrapper p.sequences{
		display: none;
	}

	.watch .screen{
		display: none !important;
	}
}

@media ( min-height: 1100px ){
	#rightcol .watch{
		width: 400px;
		height: 520px;
		padding: 144px 0 0 101px;
	}

	.watch .screen{
		width: 187px;
		height: 234px;
	}

}